<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · Phoenix Framework">
      <%= assigns[:page_title] || "Hello" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="bg-white">
    <nav class="relative z-10 flex items-center justify-end px-4 sm:px-6 lg:px-8 py-4 border-b border-zinc-100">
      <%= if @current_user do %>
        <.dropdown_menu>
          <.dropdown_menu_trigger>
            <.button class="">
              <span><%= @current_user.email %></span>
              <.icon name="hero-chevron-down-solid" class="h-4 w-4" />
            </.button>
          </.dropdown_menu_trigger>

          <.dropdown_menu_content>
            <.menu>
              <.menu_group>
                <.menu_item>
                  <.link href={~p"/users/settings"} class="w-full">
                    Settings
                    <.menu_shortcut>⌘S</.menu_shortcut>
                  </.link>
                </.menu_item>
                
                <.menu_separator />
                
                <.menu_item>
                  <.link 
                    href={~p"/users/log_out"} 
                    method="delete"
                    class="w-full text-destructive hover:text-destructive"
                  >
                    Log out
                    <.menu_shortcut>⌘Q</.menu_shortcut>
                  </.link>
                </.menu_item>
              </.menu_group>
            </.menu>
          </.dropdown_menu_content>
        </.dropdown_menu>
      <% else %>
        <div class="flex items-center gap-4">
          <.link
            href={~p"/users/register"}
            class="text-sm font-semibold text-zinc-900 hover:text-zinc-700"
          >
            Register
          </.link>
          <.link href={~p"/users/log_in"}>
            Log in
          </.link>
        </div>
      <% end %>
    </nav>
    <%= @inner_content %>
  </body>
</html>
